* {
    text-transform: capitalize;
}

body, html {
    margin:0;
    background-color: gray;
	font-family: Aldrich; 
    font-size: 15px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSection {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.cardSection:first-of-type {
    margin-right: 20px;
}

.pokemonCard {
    border: 5px solid khaki;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    min-height: 400px;
    padding: 10px;
    background: rgb(125,125,125);
    background: radial-gradient(circle, rgba(125,125,125,1) 0%, rgba(246,246,246,1) 100%);
}

.pokemonCard--Empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

.pokeball {
    height: 10vh;
}

.pokemonPicker {
    margin: 10px 0px;
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
}

.pokemonImageContainer {
    width: 90%;
    margin: 0px auto;
    height: 25vh;
    text-align: center;
    border: 7px solid khaki;
    background: rgb(125,125,125);
    background: radial-gradient(circle, rgba(125,125,125,1) 0%, rgba(0,0,0,1) 100%);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

.pokemonImage {
    height: 100%;
    margin: 0px auto;
}

.pokemonName {
    font-size: 2.5em;
    margin: 10px 0px;
}

.pokemonTypes {
    margin-top: 5px;
    padding: 10px 0px;
}

.type {
    display: inline-block;
    text-align: center;
    min-width: 65px;
    padding: 5px 2px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

.pokemonStats {
    margin-bottom: 10px;
}

.stat {
    display: inline-block;
    padding: 0px 5px;
}

.statName {
    margin: 10px 0px;
}

.statNumber {
    font-size: 1.5em;
}

.arrows {
    position: relative;
    font-size: 0.6em;
    animation: hover 0.25s linear infinite alternate;
}

@keyframes hover{
    from {
        bottom: 10px;
    }

    to {
        bottom: 5px;
    }
}